body {
  margin: 0;
  font-family: helvetica, sans-serif;
  background-color:black;
}

.topnav {
  width: 100%;
  overflow: auto;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
}

.topnav a:hover {
  background-color: black;
  color: white;
  
}

.topnav a.active {
  background-color: black;
  color: white;
  
}

