* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.topnav {
  width: 100%;
  overflow: auto;
  background-color: black;
  /*background-color: #555;*/
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
}

p {
  color: white;
  font-family: palatino;
}

.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}

div.gallery {
  margin: 5px;
  border: 1px solid grey;
  float: left;
  width: 180px;
  height: 335px;
}

div.gallery:hover {
  border: 1px solid grey;
}

div.gallery img {
  padding: 10px;
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 10px;
  color: grey;
  text-align: center;
}
div.relative {
  position: relative;
  top: -15px;
}

.div box {
	width: 300px;
	height: 500px;
	padding: 100px;
	border-style: 5px solid red;
	box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.border {
  border: 5px solid grey;
  padding: 25px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.border.profile {
  max-width: 450px;
}

.border.portraiture {
  max-width:450px;
}

.border.landscapes {
  max-width:800px;
}

.border.still-life {
  max-width:500px;
}

.border.nudes {
  max-width:450px;
}

.border.misc {
  max-width:500px;
}

.introImage {
  margin: 1em;
  object-fit: contain;
}

.introImage.profile {
  max-width: 450px;
}

.introImage.portraiture {
  max-width:450px;
}

.introImage.landscapes {
  max-width:800px;
}

.introImage.still-life {
  max-width:500px;
}

.introImage.nudes {
  max-width:450px;
}

.introImage.misc {
  max-width:500px;
}

@media screen and (max-width: 480px) {
  /*
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  */

  .border {
    max-width: 100%;
  }

  .flex {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
